* {padding:0; margin:0;}
#wrap #header #sitename {
	display: block;
	font: normal 28px Georgia, "Times New Roman", Times, serif;
	padding-left: 45px;
	padding-top: 25px;
	color: #000000;
	width: 300px;
	float: left;
}
#wrap #header .intro {
	display: block;
	float: right;
	width: 500px;
	padding-right: 55px;
	padding-top: 20px;
	font: italic normal 18px Georgia, "Times New Roman", Times, serif;
	color: #005979;
}
#wrap #header #breadcrumb a {
	color: #CCCCCC;
	text-decoration: none;
}
#wrap #header #breadcrumb a:visited, #wrap #header #breadcrumb a:active {
	color: #CCCCCC;
	text-decoration: none;
}#wrap #header #breadcrumb a:hover {
	color: #fff;
	text-decoration: none;
}
#wrap #header #sitename .caption {
	font-size: 12px;
	display: block;
}

ul {list-style:none}
a {
	color: #069;
}


html {
	background: #14222b url(../../skins/default/images/bodybg.jpg);
}
.clear {clear:both;}
body {background:url(../../skins/default/images/bgtop.jpg) repeat-x; font:11px Verdana, Arial, Helvetica, sans-serif; color:#000;}
#wrap {background:url(../../skins/default/images/pagebg.jpg) repeat-y; width:953px; margin:auto;}
#header {background:url(../../skins/default/images/header.jpg) no-repeat; height:210px;}
#content {
	background:url(../../skins/default/images/pageheader.jpg) no-repeat top;
	padding-left: 35px;
	padding-right: 35px;
	padding-top: 15px;
}
#footer{
	background:url(../../skins/default/images/footer.jpg) no-repeat;
	height:93px;
	text-align: center;
	color: #9AACB8;
	padding-top: 50px;
}
#wrap #footer a {
	color: #C7D9E5;
	text-decoration: none;
}

#left {width:652px; float:left;}
#left .post {
	width: 639px;
	margin-left: 4px;
	margin-bottom: 15px;
	background: url(../../skins/default/images/postbg.jpg) repeat-y;
}
#left .post .post_h {
	background: url(../../skins/default/images/postheader.jpg) no-repeat;
	height: 17px;
}
.post .post_b {
	background: url(../../skins/default/images/postfooter.jpg) no-repeat;
	height: 30px;
	padding-top: 10px;
	padding-left: 20px;
	padding-right: 20px;
}
.post_b .permalink {
	display: block;
	float: left;
	background: url(../../skins/default/images/readmore.jpg) no-repeat;
	height: 16px;
	padding-left: 20px;
	padding-top: 2px;
	margin-right: 5px;
	margin-left: 5px;
}

.post .postcontent {
	padding: 5px 25px;
}
.post .date {
	font-size: 10px;
	color: #999999;
	display: block;
	background: url(../../skins/default/images/posticon.jpg) no-repeat;
	padding-left: 20px;
	height: 16px;
	padding-top: 4px;
}
.post  h2 {
	font: normal 18px Georgia, "Times New Roman", Times, serif;
	color: #007993;
	display: block;
	margin-bottom: 18px;
	padding-top: 5px;
}


#pagebottom {background:url(../../skins/default/images/paginationbg.jpg) no-repeat; height:44px; clear:both;}
#topnav {
	height:50px;
	padding-top: 32px;
	padding-left: 30px;
}#breadcrumb {
	color: #CCCCCC;
	padding-left: 135px;
	padding-top: 6px;
}
#wrap #content #left #pagination {
	background: #9AACB8;
	margin-right: 15px;
	margin-left: 15px;
	padding: 8px;
	margin-bottom: 15px;
}
#pagination .alignleft {
	display: block;
	float: left;
	width: 200px;
}
#pagination .alignright {
	text-align: right;
	display: block;
	margin-left: 400px;
}
#topnav li {
	display: inline;
	text-transform: uppercase;
	font: bold 14px "Trebuchet MS", Arial, Halvetica, sans-serif;
}
#topnav a {
	display: block;
	height: 35px; width: 137px; float: left; margin:0 3px 0 3px; text-align:center; padding-top:15px; color:#ccc; text-decoration:none;}
#topnav .active a {background:url(../../skins/default/images/menuhover.png) no-repeat; color:#fff;}
#topnav a:hover {background:url(../../skins/default/images/menunormal.png) no-repeat; color:#333;}#wrap #content #sidebar {
	margin-left: 665px;
}
#wrap #content #sidebar h2.title {
	background: url(../../skins/default/images/sidebarheading.jpg) no-repeat;
	display: block;
	width: 195px;
	height: 30px;
	color: #FFFFFF;
	padding-top: 6px;
	padding-right: 10px;
	padding-left: 10px;
	font: 16px "Trebuchet MS", Arial, Halvetica, sans-serif;
	text-transform: uppercase;
	margin-bottom: 8px;
}
#sidebar .cat-item {
	display: block;
	height: 24px;
	border:none!important; padding:0!important; 
}
#sidebar li {
	margin-left: 10px;
	margin-right: 10px;
}
#sidebar li {
	display: block;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom: 1px solid #91B5CC;
}
#sidebar ul li a {
	text-decoration: none;
	color: #15222B;
}


.cat-item  a {
	display: block;
	height: 19px;
	padding-top: 5px;
	text-decoration: none;
	color: #15222B;
	border-bottom: 1px solid #91B5CC;
}
#sidebar ul {
	margin-bottom: 15px;
}



.post p {
	line-height: 18px;
	margin-bottom: 18px;
}
.post_b .category {
	display: block;
	float: left;
	background: url(../../skins/default/images/category.jpg) no-repeat;
	height: 16px;
	padding-left: 20px;
	padding-top: 2px;
	margin-right: 5px;
	margin-left: 5px;
}
.post_b  a {
	color: #FFFFFF;
	text-decoration: none;
}

.post_b .comment {

	display: block;
	float: left;
	background: url(../../skins/default/images/comment.jpg) no-repeat;
	height: 16px;
	padding-left: 24px;
	padding-top: 2px;
	margin-right: 5px;
	margin-left: 5px;
}
.post_b a:visited, .post_b a:active {
	color: #FFFFFF;
	text-decoration: none;
}
.post_b a:hover {
	color: #FFFFFF;
	text-decoration: underline;
}
a:visited, active {
	color: #000033;
}
a:hover {
	color: #000000;
	text-decoration: none;
}
#pagination a {
	text-decoration: none;
}
#sidebar ul li a:visited, #sidebar ul li a:active {
	text-decoration: none;
	color: #15222B;
}
#sidebar ul li a:hover {

	text-decoration: none;
	color: #000000;
}
.cat-item a:visited .cat-item a:active {

	display: block;
	height: 19px;
	padding-top: 5px;
	text-decoration: none;
	color: #15222B;
	border-bottom: 1px solid #91B5CC;
}
.cat-item a:hover {
	display: block;
	height: 19px;
	padding-top: 5px;
	text-decoration: none;
	color: #000000;
	border-bottom: 1px solid #91B5CC;
	background: #DEE9EF;
}
#wrap #content #sidebar .searchform p {
	padding: 8px;
}
#wrap #content #sidebar .searchform .button {
	display: block;
	float: left;
}
#wrap #content #sidebar .searchform .textbox {
	display: block;
	border: 1px solid #15222B;
	float: left;
	width: 140px;
	margin-right: 3px;
	padding: 2px;
}
#wrap #footer a:visited {

	color: #C7D9E5;
}
#wrap #footer a:hover {
	color: #FFFFFF;
	text-decoration: none;
}
img.alignleft {
	float: left;
	margin: 5px;
	padding: 5px;
	display: block;
	background: #C7D9E5;
	border: 1px solid #8E98A1;
}
img.alignright {
	float: right;
	margin: 5px;
	padding: 5px;
	display: block;
	background: #C7D9E5;
	border: 1px solid #8F9EA5;
}
#wrap #header #sitename a {
	text-decoration: none;
	color: #000;
}
blockquote {
	font: 14px Georgia, "Times New Roman", Times, serif;
	color: #006699;
	display: block;
	padding: 5px;
	border-top: 1px solid #C7D9E5;
	border-bottom: 1px solid #C7D9E5;
	margin-top: 10px;
	margin-bottom: 10px;
}
h1 a {
	text-decoration: none;
}
h2 a {
	text-decoration: none;
}

blockquote p {
	margin-bottom: 0!important;
}
.post ul, .post ol {
	margin-bottom: 15px;
}
.post ol {
	list-style: decimal outside;
	padding-left: 15px;
}
.post ol li {
	padding: 4px;
}

.post ul li {
	background: url(../../skins/default/images/bullet.jpg) no-repeat 0px 8px;
	display: block;
	padding: 4px 4px 4px 15px;
}
#wrap #content #left .post .postcontent code {
	display: block;
	margin-bottom: 15px;
	padding: 10px;
	background: #C7D9E5 url(../../skins/default/images/codebg.jpg) no-repeat right bottom;
	color: #000000;
	font: 11px "Courier New", Courier, monospace;
	white-space: pre;
}
#wrap #content #left #comments {
	width: 639px;
	margin-left: 6px;
}
#wrap #content #left #comments code {
	display: block;
	margin-bottom: 15px;
	padding: 10px;
	background: #C7D9E5 url(../../skins/default/images/codebg.jpg) no-repeat right bottom;
	color: #000000;
	font: 11px "Courier New", Courier, monospace;
	white-space: pre;
}
#wrap #content #left #comments  ol {
	list-style: none;
}
#wrap #content #left #comments  ol li {
	display: block;
	padding: 5px;
	margin-bottom: 10px;
	border-bottom: 1px solid #D4D0C8;
	background: #f4f4f4;
}
#wrap #content #left #comments  ol.odd {
	background: #fff!important;
}
h3 a {
	text-decoration: none;
}
h3 {
	font-size: 16px;
	margin-bottom: 15px;
}

#wrap #content #left #comments #commentop {
	background: url(../../skins/default/images/commenttop.jpg) no-repeat;
	height: 64px;
}
#wrap #content #left #comments #commentcontent {
	background: url(../../skins/default/images/commentbg.jpg) repeat-y;
	padding: 5px 15px;
}
#wrap #content #left #comments #commentbtm {
	background: url(../../skins/default/images/commentbtm.jpg) no-repeat;
	height: 38px;
}
#wrap #content #left #comments .text {
	border: 1px solid #C7D9E5;
	margin-bottom: 15px;
	padding: 3px;
	display: block;
	width: 200px;
}
#wrap #content #left #comments #commentcontent form {
	padding-left: 45px;
}
#comment {
	border: 1px solid #C7D9E5;
	margin-bottom: 15px;
}

div#toppanel1 > ul {
    list-style:none outside none;
        display: inline;
}

#widgetselector > li {
    position:relative;
    display: inline;
    float: left;
padding-right: 5px;
}

#toppanel1.widget
{
  float:left;
  display:inline;
  width:100%;
  position:relative;
  clear:left;
  padding:20px;
  border-bottom:1px solid #dfdfdf;
  margin-bottom: 10px;
}

#toppanel1 .widgets ul{
  list-style:none;
  margin: 0;
  padding: 0;
}
#toppanel1 .widgets ul li{
  clear:both;
  margin: 0 0 5px 0;
  height: 30px;
}
#toppanel1 .widgets ul li a{
  float: left;
  display: block;
  text-decoration: none;
  line-height: 28px;
  color: #444;
}
#toppanel1 div.widgets{
border: solid 1px #cccccc;
background-color: #c7d9e5;
}
#toppanel1 h2.title {
	background: url(../../skins/default/images/sidebarheading.jpg) no-repeat;
	display: block;
	width: 195px;
	height: 30px;
	color: #FFFFFF;
	padding-top: 6px;
	padding-right: 10px;
	padding-left: 10px;
	font: 16px "Trebuchet MS", Arial, Halvetica, sans-serif;
	text-transform: uppercase;
	margin-bottom: 8px;
}
#toppanel1 .widgets ul li a:hover{
  color: #000;
}
#toppanel1 .widgets ul li span, .reply a,.splitter ul li a{
  font-weight: bold;
  float: right;
  display: block;
  padding: 3px 6px 3px 6px;
  color: #fff !important;
  text-decoration: none;
  background: #A4A4A4;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
}


